
h1{font-family: courier; color: #00264d;  text-align: center; text-decoration: underline;}
#ParOne{color: #004080;}
#ParTwo{color: #0073e6;}
#ParThree{color:#4d88ff}
#ParFour{color:#b3ccff}
.Emily{font-family: courier; color: #00ccff; font-weight: bold;}